<template>
  <div class="about">
    <h1 v-if="countdown !== 0" >No se qué poner aquí, así que te mostraré un componente llamado Telacreiste en {{ countdown }} segundos...</h1>
    <Telacreiste v-if="countdown === 0" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import Telacreiste from '../components/Telacreiste.vue'

const countdown = ref(5) 
const router = useRouter()

onMounted(() => {
  
  const timer = setInterval(() => {
    countdown.value--
    if (countdown.value === 0) {
      clearInterval(timer)
      
    }
  }, 1000)
})
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
