<template lang="">
  <div class="container">
    <h1>Que tal, este es el Home</h1>
    
  </div>
</template>
<script setup lang="ts">

</script>
<style scoped>
.container {
  max-width: 800px; 
  margin: 300px auto; 
  padding: 2rem; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  color: #333; 
}

.container h1 {
  color: rgb(7, 216, 17); 
}
</style>