<template>
  <div class="about">
    <h1 v-if="countdown !== 0" >Direccionando a un componente llamado Nombre1 {{ countdown }} segundos...</h1>
    <Telacreiste v-if="countdown === 0" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import Telacreiste from '../components/Nombre1.vue'

const countdown = ref(10) 
const router = useRouter()

onMounted(() => {
  
  const timer = setInterval(() => {
    countdown.value--
    if (countdown.value === 0) {
      clearInterval(timer)
      
    }
  }, 1000)
})
</script>

<style scoped>

.about {
  max-width: 800px; 
  margin: 300px auto; 
  padding: 2rem; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  color: #333; 
}

.about h1 {
  color: rgb(7, 216, 17); 
}

</style>
