<template lang="">
    <div >
        <TheWelcome />
        
    </div>
</template>
<script setup lang="ts">
import TheWelcome from '@/components/TheWelcome.vue';

</script>
<style lang="">

    
</style>