<template>
    <div @click="redirectToWelcome" :style="{ pointerEvents: isMenu4Active ? 'auto' : 'none' }">
      <TheWelcome />
    </div>
  </template>
  
  <script setup lang="ts">
  import TheWelcome from '@/components/TheWelcome.vue';
  import { useRouter } from 'vue-router';
  
  const router = useRouter();
  
  
  const isMenu4Active = router.currentRoute.value.name === 'Menu4'; 
  
  const redirectToWelcome = () => {
    if (isMenu4Active) {
      router.push({ path: '/welcome' }); 
    }
  };
  </script>
<style lang="">
    
</style>