<template>
    <div class="container">
      <h1 :class="{ 'clicked': clicked }" @click="startCountdown">
        ahora da click para redireccionar a Home en {{ countdown }} segundos...
      </h1>
    </div>
  </template>
  
  <script setup lang="ts">
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  
  const countdown = ref(3) 
  const router = useRouter()
  

  const clicked = ref(false)
  
  const startCountdown = () => {

    if (!clicked.value) {
      const timer = setInterval(() => {
        countdown.value--
        if (countdown.value === 0) {
          clearInterval(timer)
          router.push('/') 
        }
      }, 1000)

      clicked.value = true
    }
  }
  </script>
  
  <style scoped>
.clicked {
    color: rgb(7, 216, 17); 
    cursor: pointer; 
  }

.container h1 {
  color: rgb(7, 216, 17); 
}

</style>
  