<template>
  <div class="container">

    <h1 v-if="isMenu3View">Este componenete esta funcionando desde Menu4View</h1>
    <h1>funcionanding</h1>
    <button @click="redirectToHome">Hasta la proxima</button>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();


const isMenu3View = router.currentRoute.value.name === 'Menu3View'; 

const redirectToHome = () => {
  router.push({ path: '/' });
};
</script>

<style scoped>
.container {
  max-width: 800px; 
  margin: 300px auto; 
  padding: 2rem; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  color: #333; 
}

.container h1 {
  color: rgb(7, 216, 17); 
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(7, 216, 17); 
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(3, 119, 9); 
}
</style>
