<template>
  <div>
    <header class="menu-header">
      <nav>
        <template v-for="(item, index) in listamenu" :key="item.path">
          <RouterLink :to="item.path" :class="{ 'unclickable': index % 2 !== 0 || index == 0 }">{{ item.name }}</RouterLink>
        </template>
      </nav>
    </header>
  </div>

  <main>
    <RouterView />
  </main>

</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import router from './router';

const listamenu = router.options.routes
</script>

<style scoped>

.menu-header {
  width: 100%;
  background-color: rgb(7, 216, 17);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: #fff;
  position: fixed;
  bottom: 0; 
  z-index: 1000; 
}


nav {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

nav a {
  padding: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}


nav a:hover {
  background-color: rgb(3, 119, 9); 
}


.unclickable {
  pointer-events: none;
  color: #6b6a6a; 
  font-style: italic; 
}

</style>
